<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en-us">
<head>
    <title>Edit note</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <form action="#" th:action="@{/edit}" method="post" th:object="${noteEdited}">
        <p>Note to be edited: <span th:text="${noteEdited.id}"></span></p>
        <label for="titleEdit"></label>
        <input id="titleEdit" type="text" th:field="*{title}" required>
        <label for="contentEdit"></label>
        <input id="contentEdit" type="text" th:field="*{content}" required>
        <br/>
        <br/>
        <button th:type="submit" value="submit">submit</button>
        <button type="reset" value="reset">reset</button>
    </form>
</body>
</html>