<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en-us">
<head>
    <title>Note list</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <table>
    <tr th:each="note : ${noteList}">
        <td th:text="${note.getId()}"></td>
        <td th:text="${note.getTitle()}"></td>
        <td th:text="${note.getContent()}"></td>
        <td>
            <form th:action="@{/note/edit?id=${note.getId()}}" method="GET">
                <button type="submit" name="id" th:value="${note.getId()}">EDIT</button>
            </form>
            <form action="/note/delete" method="POST">
                <button type="submit" th:name="id" th:value="${note.getId()}">DELETE</button>
            </form>
        </td>
    </tr>
    </table>
</body>
</html>